body {
    margin: 0;
    padding: 0;
    background: rgb(133, 25, 206);
    overflow: hidden;
    touch-action: manipulation;
}

#myCanvas {
    display: block;
    touch-action: manipulation;
}

/* Add responsive styles */
@media screen and (max-width: 768px) {
    .mylove {
        touch-action: manipulation;
        height: 20px;
        width: 20px;
    }

    .mylove:before,
    .mylove:after {
        touch-action: manipulation;
        height: 20px;
        width: 20px;
    }
}

@media screen and (max-width: 480px) {
    .mylove {
        touch-action: manipulation;
        height: 15px;
        width: 15px;
    }

    .mylove:before,
    .mylove:after {
        height: 15px;
        width: 15px;
    }
}